src/test/munit/file-listener-test-cases/common-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">

    <flow name="check-one-file-is-listened">
        <flow-ref name="assert-file-was-listened"/>
    </flow>

    <flow name="check-no-file-is-listened">
        <flow-ref name="assert-file-was-not-listened"/>
    </flow>

    <flow name="check-until-one-file-is-listened">
        <until-successful maxRetries="50" millisBetweenRetries="1000">
            <flow-ref name="assert-file-was-listened"/>
        </until-successful>

        <munit-tools:sleep time="600"/>
        <error-handler>
            <on-error-continue type="MULE:RETRY_EXHAUSTED">
                <raise-error type="MULE:EXPRESSION" description="Test failure: the file was never listened."/>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="check-until-no-file-is-listened">
        <until-successful maxRetries="50" millisBetweenRetries="1000">
            <flow-ref name="assert-file-was-not-listened"/>
        </until-successful>

        <munit-tools:sleep time="600"/>
        <error-handler>
            <on-error-continue type="MULE:RETRY_EXHAUSTED">
                <raise-error type="MULE:EXPRESSION" description="Test failure: the file was always listened."/>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="check-no-file-is-listened-over-time">
        <flow-ref name="reset-file-listed"/>
        <foreach collection="#[1 to 20]">
            <munit-tools:retrieve key="isFileBeingListed"/>
            <flow-ref name="reset-file-listed"/>
            <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo(false)]"/>
            <munit-tools:sleep time="500"/>
        </foreach>
    </flow>

    <flow name="check-file-is-always-listened">
        <munit-tools:store key="isFileBeingListed">
            <munit-tools:value>#[true]</munit-tools:value>
        </munit-tools:store>
        <foreach collection="#[1 to 20]">
            <flow-ref name="assert-file-was-listened"/>
            <munit-tools:sleep time="500"/>
        </foreach>
    </flow>

    <flow name="assert-file-was-listened">
        <munit-tools:retrieve key="isFileBeingListed"/>
        <flow-ref name="reset-file-listed"/>
        <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo(true)]"/>
    </flow>

    <flow name="assert-file-was-not-listened">
        <munit-tools:retrieve key="isFileBeingListed"/>
        <flow-ref name="reset-file-listed"/>
        <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo(false)]"/>
    </flow>

    <flow name="reset-file-listed">
        <munit-tools:store key="isFileBeingListed">
            <munit-tools:value>#[false]</munit-tools:value>
        </munit-tools:store>
    </flow>

</mule>