src/test/munit/file-listener-test-cases/listen-multiple-files.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
        http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">

    <munit:config name="listen-multiple-files.xml"/>
    <munit:dynamic-port propertyName="ftp.server.port"/>

    <munit:before-test name="listen-multiple-files">
        <ftp:write config-ref="config-docker" path='test/concurrent/concurrent1.txt' createParentDirectories="true">
            <ftp:content>concurrent test content ## 1</ftp:content>
        </ftp:write>
        <ftp:write config-ref="config-docker" path='test/concurrent/concurrent2.txt' createParentDirectories="true">
            <ftp:content>concurrent test content ## 2</ftp:content>
        </ftp:write>
    </munit:before-test>

    <munit:test name="listenMultipleFiles"
                description="It is expected that multiple files can be read and access their attributes and content and then if there is no error in their processing they will be deleted.
                To consider the test successful, it will be checked that the List operation on the path has a sizeOf equal to 0">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="listen-multiple-files-flow"/>
        </munit:enable-flow-sources>
        <munit:execution>

            <munit-tools:sleep time="600"/>
            <flow-ref name="listen-multiple-files-flow"/>
            <munit-tools:sleep time="600"/>
        </munit:execution>
        <munit:validation >
            <ftp:list doc:name="List" config-ref="config-docker" directoryPath="/config/test/concurrent"/>
            <munit-tools:assert-equals doc:name="Assert equals"  actual="#[sizeOf(payload)]" expected="#[0]"/>
        </munit:validation>
    </munit:test>

    <flow name="listen-multiple-files-flow">
        <ftp:listener config-ref="config-docker" directory="/config/test/concurrent" autoDelete="true" applyPostActionWhenFailed="false">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </ftp:listener>
        <set-variable value="#[%dw 2.0&#10;output application/java&#10;---&#10;attributes.path]" doc:name="Set Variable" variableName="filePath"/>
        <set-variable value="#[%dw 2.0&#10;output application/java&#10;---&#10;attributes.size]" doc:name="Set Variable" variableName="fileSize"/>
        <set-variable value="#[%dw 2.0&#10;output application/java&#10;---&#10;attributes.fileName]" doc:name="Set Variable" variableName="fileName"/>
        <logger level="INFO" doc:name="INFO: Initial vars" message="Initial vars: #[vars]"/>
        <logger level="INFO" doc:name="INFO: Start File processing" message="[file: #[vars.fileName]][size: #[vars.fileSize]] Start File Processing" />
        <logger level="INFO" doc:name="INFO: File content"  message="[file: #[vars.fileName]][size: #[vars.fileSize]] WMS file content: #[payload]"/>
        <logger level="INFO" doc:name="INFO: Completed File Processing" message="[file: #[vars.fileName]][size: #[vars.fileSize]] File processing was completed. The file will be deleted from the server..."/>
    </flow>

</mule>