src/test/munit/file-listener-test-cases/new-file-is-listened-and-later-filtered.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
        http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
        http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <munit:config name="new-file-is-listened-and-later-filtered.xml"/>



    <munit:before-suite name="new-file-is-listened-and-later-filtered-startListenerMatcherTestServer">
        <java:invoke-static class="org.mule.extension.ftp.internal.lifecycle.FtpServerLifecycleManager"
                            method="startFtpServer(String)">
            <java:args>
                #[{
                arg0: ${ftp.server.port},
                }]
            </java:args>
        </java:invoke-static>
    </munit:before-suite>

    <munit:after-suite name="new-file-is-listened-and-later-filtered-clearListenerMatcherTestServer">
        <java:invoke-static class="org.mule.extension.ftp.internal.lifecycle.FtpServerLifecycleManager"
                            method="stopFtpServer()">
            <java:args>
                #[{}]
            </java:args>
        </java:invoke-static>
    </munit:after-suite>

    <munit:before-test name="new-file-is-listened-and-later-filtered-create-file-for-listener">
        <flow-ref name="write-file"/>
        <flow-ref name="reset-file-listed"/>
    </munit:before-test>

    <munit:test name="newFileIsListenedAndLaterFiltered" description="New file is listed, but later filtered by the matcher">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="listen-filtering-not-updated-recently-newFileIsListenedAndLaterFiltered"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <flow-ref name="check-until-one-file-is-listened"/>
            <flow-ref name="check-until-no-file-is-listened"/>
        </munit:execution>
    </munit:test>

    <flow name="listen-filtering-not-updated-recently-newFileIsListenedAndLaterFiltered">
        <ftp:listener config-ref="config" directory=".">
            <scheduling-strategy>
                <fixed-frequency frequency="200"/>
            </scheduling-strategy>
            <ftp:matcher updatedInTheLast="4" timeUnit="SECONDS"/>
        </ftp:listener>
        <munit-tools:store key="isFileBeingListed">
            <munit-tools:value>#[true]</munit-tools:value>
        </munit-tools:store>
    </flow>

</mule>