src/test/resources/ftp-read-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">

    <import file="ftp-connection.xml"/>

    <flow name="read">
        <choice>
            <when expression="#[streaming]">
                <ftp:read config-ref="config" path="#[path]"/>
                <object-to-string-transformer />
            </when>
            <otherwise>
                <ftp:read config-ref="config" path="#[path]">
                    <non-repeatable-stream />
                </ftp:read>
            </otherwise>
        </choice>
    </flow>

    <flow name="readWithLock" processingStrategy="synchronous">
        <ftp:read config-ref="config" path="files/hello.json" lock="true">
            <non-repeatable-stream />
        </ftp:read>
    </flow>

    <flow name="readWithForcedMimeType">
        <ftp:read config-ref="config" path="#[path]" outputMimeType="test/test"/>
        <object-to-string-transformer />
    </flow>

</mule>
