src/test/resources/ftp-list-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
        http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">

    <import file="ftp-connection.xml"/>

    <ftp:matcher name="globalMatcher" directories="REQUIRE" filenamePattern="sub*" />

    <flow name="list">
        <ftp:list config-ref="config" directoryPath="#[vars.path]" recursive="#[vars.recursive]" />
    </flow>

    <flow name="listWithStableSizeTime">
        <ftp:list config-ref="config" directoryPath="#[vars.path]" recursive="#[vars.recursive]"/>
    </flow>

    <flow name="listWithEmbeddedPredicate">
        <ftp:list config-ref="config" directoryPath="#[vars.path]" recursive="#[vars.recursive]">
            <ftp:matcher filenamePattern="*[1-2]*.html" />
        </ftp:list>
    </flow>

    <flow name="listWithGlobalMatcher">
        <ftp:list config-ref="config" directoryPath="#[vars.path]" recursive="#[vars.recursive]" matcher="globalMatcher"/>
    </flow>

    <flow name="listCursors">
        <ftp:list config-ref="config" directoryPath="#[vars.path]" >
            <ftp:matcher filenamePattern="*2.html" />
        </ftp:list>
        <test:processor class="org.mule.extension.ftp.FtpListTestCase$TestProcessor"/>
        <test:processor class="org.mule.extension.ftp.FtpListTestCase$TestProcessor"/>
    </flow>

    <flow name="listFilesRecursivelyWithNameFilter">
        <ftp:list config-ref="config" directoryPath="#[vars.path]" recursive="#[vars.recursive]">
            <ftp:matcher directories="EXCLUDE" filenamePattern="*"/>
        </ftp:list>
    </flow>

    <flow name="listFilesWithFilesStillBeingWritten">
        <ftp:list config-ref="config" directoryPath="#[vars.path]" recursive="#[vars.recursive]">
            <ftp:matcher directories="EXCLUDE" filenamePattern="*"/>
        </ftp:list>
        <foreach>
            <try>
                <test:processor class="org.mule.extension.ftp.FtpListTestCase$FilesWrittenProcessor"/>
                <object-to-string-transformer/>
                <error-handler>
                    <on-error-continue enableNotifications="true" logException="true" type="ANY">
                        <test:processor class="org.mule.extension.ftp.FtpListTestCase$FilesBeingWrittenProcessor"/>
                    </on-error-continue>
                </error-handler>
            </try>
        </foreach>
    </flow>

    <flow name="listFilesRecursivelyWithSpecificNameFilter">
        <ftp:list config-ref="config" directoryPath="#[vars.path]" recursive="#[vars.recursive]">
            <ftp:matcher directories="EXCLUDE" filenamePattern="test-file-6.html"/>
        </ftp:list>
    </flow>

</mule>
