src/test/resources/ftp-directory-listener-on-error-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <import file="ftp-connection.xml"/>

    <flow name="listener">
        <ftp:listener config-ref="config" directory="matcherless">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </ftp:listener>

        <!--queue processed message-->
        <object-to-string-transformer />
        <test:processor class="org.mule.extension.ftp.FtpDirectoryListenerFunctionalTestCase$TestProcessor"/>

        <try>
            <logger level="INFO" message="#[payload]" />
            <error-handler>
                <on-error-continue>
                    <!--If polling failed, this should fail too-->
                    <ftp:write config-ref="config" path="somefile.txt">
                        <ftp:content>#[payload]</ftp:content>
                    </ftp:write>
                </on-error-continue>
            </error-handler>
        </try>

    </flow>


</mule>