src/test/resources/ftp-read-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">

    <import file="ftp-connection.xml"/>

    <flow name="read">
        <choice>
            <when expression="#[vars.streaming]">
                <ftp:read config-ref="config" path="#[vars.path]"/>
                <object-to-string-transformer />
            </when>
            <otherwise>
                <ftp:read config-ref="config" path="#[vars.path]">
                    <non-repeatable-stream />
                </ftp:read>
            </otherwise>
        </choice>
    </flow>

    <flow name="readWithLock">
        <ftp:read config-ref="config" path="#[vars.readPath]" lock="true">
            <non-repeatable-stream />
        </ftp:read>
        <custom-processor class="org.mule.extension.ftp.FtpReadTestCase$StreamCloserTestMessageProcessor"/>
    </flow>

    <flow name="readWithForcedMimeType">
        <ftp:read config-ref="config" path="#[vars.path]" outputMimeType="test/test"/>
        <object-to-string-transformer />
    </flow>

    <flow name="readFileThatIsDeleted">
        <ftp:read config-ref="config" path="#[vars.path]"/>
        <ftp:delete config-ref="config" path="#[vars.path]"/>
        <object-to-string-transformer />
    </flow>

    <flow name="readFileWithSizeCheck">
        <ftp:read config-ref="config" path="#[vars.path]" timeBetweenSizeCheck="2000"/>
        <object-to-string-transformer />
    </flow>


</mule>
