src/test/resources/ftp-directory-listener-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <import file="ftp-connection.xml"/>

    <ftp:matcher name="matcher" filenamePattern="matchme.txt" />

    <flow name="listenWithoutMatcher">
        <ftp:listener config-ref="config" directory="matcherless">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </ftp:listener>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="listenNonRecursive" initialState="stopped">
        <ftp:listener config-ref="config" directory="matcherless" recursive="false">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </ftp:listener>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="redundantListener1">
        <ftp:listener config-ref="config" directory="shared" autoDelete="true">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </ftp:listener>
        <flow-ref name="onSharedFolderFile" />
    </flow>

    <flow name="redundantListener2">
        <ftp:listener config-ref="config" directory="shared" autoDelete="true">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </ftp:listener>
        <flow-ref name="onSharedFolderFile" />
    </flow>

    <flow name="listenTxtOnly">
        <ftp:listener config-ref="config" directory="withMatcher" matcher="matcher" autoDelete="true">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </ftp:listener>
        <set-payload value="Dr. Manhattan" />
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="moveTo" initialState="stopped">
        <ftp:listener config-ref="config" directory="matcherless" moveToDirectory="#[vars.moveTo]">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
            <ftp:matcher minSize="5" />
        </ftp:listener>
        <set-variable variableName="moveTo" value="shared" />
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="moveToAndAutoDelete" initialState="stopped">
        <ftp:listener config-ref="config" directory="matcherless" moveToDirectory="#[vars.moveTo]" autoDelete="true">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
            <ftp:matcher minSize="5"/>
        </ftp:listener>
        <set-variable variableName="moveTo" value="shared"/>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="moveToWithRename" initialState="stopped">
        <ftp:listener config-ref="config" directory="matcherless" moveToDirectory="#[vars.moveTo]" renameTo="#[vars.rename]">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </ftp:listener>
        <set-variable variableName="moveTo" value="shared" />
        <set-variable variableName="rename" value="renamed.txt" />
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="modifiedWatermark" initialState="stopped">
        <ftp:listener config-ref="config" directory="matcherless" autoDelete="false" watermarkEnabled="true">
            <scheduling-strategy>
                <fixed-frequency frequency="7000"/>
            </scheduling-strategy>
        </ftp:listener>
        <flow-ref name="onEvent"/>
    </flow>

    <sub-flow name="onEvent">
        <object-to-string-transformer />
        <test:processor class="org.mule.extension.ftp.FtpDirectoryListenerFunctionalTestCase$TestProcessor"/>
    </sub-flow>

    <sub-flow name="onSharedFolderFile">
        <test:processor waitTime="1000" />
        <flow-ref name="onEvent" />
    </sub-flow>
</mule>
