src/test/resources/ftp-list-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">

    <import file="ftp-connection.xml"/>

    <ftp:matcher name="globalMatcher" directories="REQUIRE" filenamePattern="sub*" />

    <flow name="list">
        <ftp:list config-ref="config" directoryPath="#[vars.path]" recursive="#[vars.recursive]" />
    </flow>

    <flow name="listWithEmbeddedPredicate">
        <ftp:list config-ref="config" directoryPath="#[vars.path]" recursive="#[vars.recursive]">
            <ftp:matcher filenamePattern="*[1-2]*.html" />
        </ftp:list>
    </flow>

    <flow name="listWithGlobalMatcher">
        <ftp:list config-ref="config" directoryPath="#[vars.path]" recursive="#[vars.recursive]" matcher="globalMatcher"/>
    </flow>
</mule>
