src/test/resources/ftp-metadata-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">

    <import file="ftp-connection.xml"/>

    <flow name="read">
        <ftp:read config-ref="config" path="#[vars.path]"/>
    </flow>

    <flow name="list">
        <ftp:list config-ref="config" directoryPath="#[vars.path]" recursive="#[vars.recursive]" />
    </flow>

</mule>
