src/test/resources/ftp-write-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
      http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <import file="ftp-read-config.xml"/>

    <flow name="write">
        <ftp:write config-ref="config" path="#[vars.path]" mode="#[vars.mode]"
                   createParentDirectories="#[vars.createParent]"/>
    </flow>

    <flow name="writeStaticContent">
        <ftp:write config-ref="config" path="#[vars.path]" mode="#[vars.mode]"
                   createParentDirectories="#[vars.createParent]">
            <ftp:content>Hello World!</ftp:content>
        </ftp:write>
    </flow>

    <flow name="readAndWrite">
        <ftp:read config-ref="config" path="#[vars.path]"/>
        <set-payload value="Hello World!"/>
        <ftp:write config-ref="config" path="#[vars.path]" mode="OVERWRITE"/>
    </flow>

    <flow name="writeWithLock">
        <ftp:write config-ref="config" lock="true" path="#[vars.path]" mode="#[vars.mode]"
                   createParentDirectories="#[vars.createParent]"/>
    </flow>

    <flow name="writeFromStreamWithLock">
        <java:invoke-static class="org.mule.extension.ftp.FtpWriteTestCase" method="getContentStream()" />
        <ftp:write config-ref="config" path="#[vars.path]" lock="true" mode="#[vars.mode]"
                   createParentDirectories="#[vars.createParent]"/>
    </flow>

    <flow name="writeAlreadyLocked">
        <scatter-gather>
            <route>
                <flow-ref name="writeFromStreamWithLock"/>
            </route>
            <route>
                <flow-ref name="writeFromStreamWithLock"/>
            </route>
        </scatter-gather>
    </flow>

</mule>
