src/test/resources/ftp-rename-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">

    <import file="ftp-read-config.xml"/>

    <flow name="rename">
        <ftp:rename config-ref="config" path="#[path]" to="#[to]" overwrite="#[overwrite]"/>
    </flow>

    <flow name="readAndRename">
        <ftp:read config-ref="config" path="#[path]" />
        <ftp:rename config-ref="config" path="#[path]" to="#[to]"/>
    </flow>

</mule>
